*{
	font-family: verdana;
}

body{
	background-color: #bbb;
}

fieldset{
	background-color: #ddd;
	margin: 0 auto 20px;
	width: 520px;
	text-align: center;
	border-radius: 15px;
}

label{
	font-weight: bolder;
}

legend{
	font-size: 20px;
	text-align: left;
}

footer{
	margin: 10px auto;
	width: 520px;
	text-align: center;	
}

ul {
	list-style: none;
	display: inline-table;
}

li{
	font-size: 20px;
	text-align: left;
}


#average{
	display: none;
}

input[type="submit"],
button{
	font-weight: bold;
	height: 30px;
}
