*{
	font-family: arial;
}

body{
	background-image: url('../images/background.jpg');
	background-position: top;
	background-repeat: no-repeat;
}

fieldset{
	margin: 60px auto 0;
	width: 300px;
	text-align: center;
	border: none;
	background: #fff;
}

legend{
	font-size: 30px;
}

input[type='text']{
	margin: 0 auto 0;
	display: block;
	font-size: 20px;
}

button[type='submit']{
	margin: 10px 0 0 0;
	font-size: 20px;
	width: 100px;
}

h1{
	text-align: center;
}

#output{
	margin: 0 auto 0;
	background-color: #fff;
	width: 600px;
	padding: 0 20px 20px 20px;
	font-size: 20px;
	display:none;
}

.highlighter{
	font-weight: bolder;
	padding-bottom: 15px;
}

.show{
	display:block;
}