#menu,
#menu li,
#menu li a {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 22px;
	font-family: 'Roboto';
	list-style: none;
}

#menu {	
	margin: 15px 0 0 0;
	width:800px;
	border: 1px solid #000;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border: 1px solid green;
	border-bottom: 5px solid green;
	text-align: center;
	background: -webkit-linear-gradient(#F7F7B7, yellow);      
	background: -o-linear-gradient(#F7F7B7, yellow);      
	background: -moz-linear-gradient(#F7F7B7, yellow);          
	background: linear-gradient(#F7F7B7, yellow);           
}

#menu li{	
	padding: 0 10px 0 10px;
	display: inline;
	border: 1px solid #000;
}

#menu li a{
	color: green;
	text-decoration: none;
	text-shadow: 2px -2px 2px #DDD;
}

#menu li a:hover,
#menu .activate{
	color: #fff;
	padding: 10px 0 0 0;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	text-shadow: 2px -2px 2px #000;
	background-color: green;
}
